doctype html
head
  link(rel='stylesheet' text='text/css' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css')
  meta(charset='UTF-8')
  title http://www.blueb.co.kr
  style(rel='stylesheet').
    @charset "UTF-8";
    @import url(https://fonts.googleapis.com/css?family=Lato:400,700);
    * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    }
    body {
    font-family: 'Lato', sans-serif;
    background-color: #f8f8f8;
    }
    body .container .tabs {
    width: 100%;
    height:30%;
    margin-bottom: 5px;
    border-bottom: 1px solid #d9d9d9;
    text-align:center;
    font-size:24px;
    }
    .tabs label{
    width:160px;
    padding:50px;
    }
    .tabs{
    font-size:15px;
    }
    label.individual{
    padding-top:8px;
    padding-bottom:8px;
    }
    label.enterprise{
    padding-top:8px;
    padding-bottom:8px;
    }
    body .container .content form {
    position: relative;
    height: 287px;
    }
    body .container .content label:first-of-type, body .container .content input:first-of-type, body .container .content .more:first-of-type {
    }
    body .container .content label:nth-of-type(3), body .container .content input:nth-of-type(3), body .container .content .more:nth-of-type(3) {
    }
    body .container .content label {
    font-size: 12px;
    color: #263238;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    }
    body .container .content label:not([for='remember']) {
    display: none;
    }
    body .container .content label:not([for='remember2']) {
    display: none;
    }
    body .container .content input.submit {
    font-size: 12px;
    line-height: 42px;
    display: block;
    width: 100%;
    height: 42px;
    cursor: pointer;
    vertical-align: middle;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #263238;
    border: 1px solid #263238;
    background: transparent;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    }
    body .container .content input.submit:hover {
    background-color: #263238;
    color: #ffffff;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    }
    body .container .content .checkbox {
    margin-top: 4px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    width: 0;
    height: 0;
    margin: 17px -1px;
    padding: 0;
    border: 0;
    }
    body .container .content .checkbox + label {
    vertical-align: middle;
    display: inline-block;
    width: 50%;
    }
    body .container .content .checkbox + label:before {
    content: "\A";
    color: #999999;
    font-family: Verdana;
    font-weight: bold;
    font-size: 8px;
    line-height: 10px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background: transparent;
    border: 1px solid #d9d9d9;
    width: 11px;
    height: 11px;
    margin: -2px 8px 0 0;
    }
    body .container .content .checkbox:checked + label:before {
    content: "✓";
    }
    .content input.inp{
    width:210px;
    height:35px;
    }
    * {
    margin:0;
    padding:0;
    }
    ul {
    list-style-type: none;
    }
    body {
    font-family:"맑은고딕", "돋움";
    font-size:12px;
    color:444444;
    }
    #id_pass, #login_btn {
    vertical-align: top;
    }
    #id_pass span {
    display: inline-block;
    width:20px;
    }
    #login_btn button {
    margin-left:5px;
    padding:12px;
    border-radius:5px;
    }
    #phone_email{
    vertical-align: top;
    }
    #btns {
    margin-left:107px;
    }
    #btns li {
    display:inline;
    padding:7px;
    }
    #btns li:first-child a{
    color:black;
    font-weight:bold;
    }
    #btns li:last-child a{
    color:black;
    }
    .log{
    width:100px;
    height:70px;
    }
    #cont_save label{
    width:100px;
    margin-top:-130px;
    }
    #cont_save label:first-child{
    margin-right:-20px;
    }
    .secur{
    margin-top:-33px;
    margin-left:-20px;
    }
    .secur a{
    height:8px;
    }
    .secur a.sec{
    color:black;
    text-decoration:none;
    }
    .secur a.on{
    color:green;
    text-decoration: underline;
    }

section.container(style="width:50%; height:50rem; margin-top:3rem; margin-left:auto; margin-right:auto; padding:5rem; border:1px solid lightgrey; border-radius:1rem")
  article.half
    .tabs(data-toggle='buttons')
      label.individual.active 개인
      label.enterprise 기업
    .content(style='text-align:center;')
      .individual-cont.cont
        form(action='#' method='post' enctype='multipart/form-data')
          ul#input_button
            li#id_pass
              ul
                li
                  h5(style='margin-top:1rem;') ID
                li
                  input.form-control(type='text' name='id' required='required' placeholder='아이디' style='width:20rem; margin: 0 auto; text-align:center;')
                h5(style='margin-top:1rem') PW
                li#pass
                  input.form-control(type='password' name='password' required='required' placeholder='비밀번호' style='width:20rem; margin: 0 auto; text-align:center;')
                // pass
            li#phone_email
              ul
                li
                  h5(style='margin-top:1rem') 휴대폰 번호
                li(style='margin: 0 auto;')
                  input.form-control(type='text' name='phone' required='required' placeholder='핸드폰 번호'
                  style='width:30rem; margin: 0 auto; text-align:center;')
                h5(style='margin-top:1rem') 이메일    
                li
                  input.form-control(type='email' name='email' required='required' placeholder='이메일' style='width:30rem; margin: 0 auto; text-align:center;')
            li#belongto
              ul
                li
                  h5(style='margin-top:1rem') 소속
                li
                  input.form-control(type='text' name='belong' required='required' placeholder='소속' style='width:15rem; margin: 0 auto; text-align:center;')
            li#login_btn
              input.log(style='width:150px; font-weight:bold; border:1px solid black; border-radius:1rem; font-size: 15px;   margin:20px auto; margin-top:100px;' type='submit'
              value='회원가입 완료')
      .enterprise-cont.cont
        form(action='#' method='post' enctype='multipart/form-data'
        style='text-align:center;')
          ul#input_button
            li
              ul
                li
                  h5(style='margin-top:1rem') 기업인증
                li
                  input.form-control(type='text' name='CompanyRegistrationNumber' required='required' placeholder='사업자등록번호 입력' style='width:24rem; margin: 0 auto; text-align:center;')
            li#id_pass
              ul
                li
                  h5(style='margin-top:1rem') ID
                li
                  input.form-control(type='text' name='id' required='required' placeholder='아이디'
                  style='width:15rem; margin: 0 auto; text-align:center;')
                h5(style='margin-top:1rem') PW
                li#pass
                  input.form-control(type='password' name='password' required='required' placeholder='비밀번호' style='width:15rem; margin: 0 auto; text-align:center;')
            li#login_btn
              input.log(style='width:150px; font-weight:bold; border:1px solid black; border-radius:1rem; font-size: 15px;   margin:20px auto; margin-top:250px;' type='submit'
              value='회원가입 완료')
  
script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
script(type='text/javascript').
  $(document).ready(function(){
  $('.enterprise-cont').hide();
  $('.tabs .individual').css("background","skyblue");
  $('.tabs .individual').css("color","white");
  $('.tabs .enterprise').css("background","lightgray");
  $('.tabs .enterprise').css("color","skyblue");
  });

  $('.tabs label').click(function(){
  if ($(this).hasClass('individual')) {
  $('.tabs .tab').removeClass('active');
  $('.tabs label').removeAttr('style');
  $(this).css("background","skyblue");
  $(this).css("color","white");
  $('.tabs .enterprise').css("background","lightgray");
  $('.tabs .enterprise').css("color","skyblue");
  $(this).addClass('active');
  $('.cont').hide();
  $('.individual-cont').show();
  }
  if ($(this).hasClass('enterprise')) {
  $('.tabs .tab').removeClass('active');
  $('.tabs label').removeAttr('style');
  $(this).css("background","skyblue");
  $(this).css("color","white");
  $('.tabs .individual').css("background","lightgray");
  $('.tabs .individual').css("color","skyblue");
  $(this).addClass('active');
  $('.cont').hide();
  $('.enterprise-cont').show();
  }
  });
